
<form name="frmWrite" id="frmWrite" action="/Dev/CodeTypeWrite" method="post">
    <table class="table table-striped">
        <tr>
            <th>코드타입명</th>
            <td><input type="text" name="CodeTypeName" size="10" value="" /></td>
        </tr>
        <tr>
            <th>코드타입코드</th>
            <td><input type="text" name="CodeType" size="10" value="" />  </td>
        </tr>
    </table>
    <input type="button" value="등록" id="confirmWrite" class="btn btn-primary btn-lg" />
</form>